/**********************************************************************************
	- File Info -
		File name		: variables.scss
		Author(s)		: DAVINA Leong Shi Yun
		Date Created	: 23 Dec 2016

	- Contact Info -
		Email	: leong.shi.yun@gmail.com
		Mobile	: (+65) 9369 3752 [Singapore]

***********************************************************************************/
// backgrounds
$bg-body: url('../images/paper.png') repeat;
$bg-header: url('../images/studying.png') no-repeat center center;

// fonts
$font-arapey: 'Arapey', 'Cambria', Georgia, 'Times New Roman', 'Times', sans-serif;
$font-tillitium-web: 'Titillium Web', Calibri, Arial, sans-serif;
$font-handlee: 'Handlee', Calibri, Arial, sans-serif;

// colours
$colour-heading: #333;
$colour-body: #000;
$colour-passage-text: #072b56;
$colour-navbar: #fff;

$colour-link: #816c5b;
$colour-link-disabled: #ccc;