@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin clear-border {
  @include border-radius(0);
  border: none;
}

@mixin navbar-link($colour) {
  color: $colour;

  &:hover {
    color: $colour;
    border-bottom: thin solid $colour;
  }

  &:link,
  &:active,
  &:focus,
  &:visited {
    color: $colour;
  }
}